<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Online Booking — The Oasis Spa (Thailand)</title>
  <link rel="icon" href="/favicon.ico">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap">
  <link rel="stylesheet" href="./static/style/style.css">
</head>
<body>
  <div class="ui--wrapper">
    <div class="ui--header">
      <img class="logo" src="./static/images/logo.png" alt>
    </div>

    <div class="ui--body">
      <div class="ui--booking container">
        <h1 class="ui--page-title">online booking</h1>

        <div class="ui--step">
          <span v-for="{ id, label, active } in steps" :key="id"
            :class="['li', { active }]"
            v-text="label"
            @click="onSwitch((id - 1), id)">
          </span>
        </div>

        <child-element-first v-if="isStep(1)"
          :dataset="mainForm"
          @switch="onSwitch">
        </child-element-first>

        <child-element-second v-else-if="isStep(2)"
          :dataset="mainForm"
          @switch="onSwitch"
          @modals="onModals">
        </child-element-second>

        <child-element-third v-else-if="isStep(3)"
          :dataset="mainForm"
          @switch="onSwitch">
        </child-element-third>

        <child-element-fourth v-else-if="isStep(4)"
          :dataset="mainForm"
          @switch="onSwitch">
        </child-element-fourth>

      </div>
    </div>

    <div class="ui--footer">
      <div class="ui--footer-top"></div>
      <div class="ui--footer-bottom"></div>
    </div>

    <modal-element-setitem v-if="modals.a.on"
      :dataset="modals.a.data"
      @apply="onApply"
      @close="onClose('a')">
    </modal-element-setitem>
  </div>

  <div class="ui--template" hidden>
  <template id="ui--template-input">
    <div class="ui--input">
      <label class="ui--input-label" :for="vid" required>label name</label>
      <p class="ui--input-desc" v-if="desc" v-text="desc"></p>
  
      <select class="ui--input-select" v-model="currentValue" v-if="isSelectType">
        <option :value="0" disabled></option>
        <option :value="1">LINE</option>
        <option :value="2">Twitter</option>
        <option :value="3">Facebook</option>
      </select>
  
      <input :type="type" :id="vid" class="ui--input-default" v-model="currentValue" v-else>
  
      <span class="arrow">
        <svg viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path d="M4.646 7.646a.5.5 0 0 1 .708 0L8 10.293l2.646-2.647a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 0 1 0-.708z"/>
          <path d="M8 4.5a.5.5 0 0 1 .5.5v5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5z"/>
        </svg>
      </span>
      <span class="ui--input-errors" hidden></span>
    </div>
  </template>

  <template id="ui--template-step-first">
    <div class="ui--booking-content first">
      <div class="ui--booking-content-head">
        <h3 class="title">first step title name</h3>
        <h5 class="desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste minima corporis alias nostrum, molestias praesentium deleniti, ad, quaerat quam nihil numquam mollitia? Eum consectetur excepturi quaerat deleniti quisquam necessitatibus fugit.</h5>
      </div>
  
      <div class="ui--booking-content-container">
        <input-element type="input" vid="ui--model-a"
          label="label name"
          desc="Lorem ipsum dolor sit amet consectetur adipisicing elit."
          v-model="currentForm.a">
        </input-element>
  
        <input-element type="select" vid="ui--model-b"
          label="label name"
          desc="Iste minima corporis alias nostrum, molestias praesentium deleniti, ad, quaerat quam nihil numquam mollitia?"
          v-model="currentForm.b">
        </input-element>
  
        <input-element type="select" vid="ui--model-c"
          label="label name"
          desc="Eum consectetur excepturi quaerat deleniti quisquam necessitatibus fugit."
          v-model="currentForm.c">
        </input-element>
      </div>
  
      <div class="ui--booking-content-footer">
        <button type="button" class="btn btn-default">
          <span class="text upper">cancel</span>
        </button>
  
        <button type="button" class="btn btn-primary" @click="next">
          <span class="text upper">next</span>
        </button>
      </div>
    </div>
  </template>

  <template id="ui--template-step-second">
    <div class="ui--booking-content second">
      <div class="ui--booking-content-head">
        <h3 class="title">second step title name</h3>
        <h5 class="desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste minima corporis alias nostrum, molestias praesentium deleniti, ad, quaerat quam nihil numquam mollitia? Eum consectetur excepturi quaerat deleniti quisquam necessitatibus fugit.</h5>
      </div>
      
      <div class="ui--booking-content-container">
        <div class="second-branch">
          <div class="name">
            <svg class="icon" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M0 15.5a.5.5 0 0 1 .5-.5h15a.5.5 0 0 1 0 1H.5a.5.5 0 0 1-.5-.5zM3.12 1.175A.5.5 0 0 1 3.5 1h9a.5.5 0 0 1 .38.175l2.759 3.219A1.5 1.5 0 0 1 16 5.37v.13h-1v-.13a.5.5 0 0 0-.12-.325L12.27 2H3.73L1.12 5.045A.5.5 0 0 0 1 5.37v.13H0v-.13a1.5 1.5 0 0 1 .361-.976l2.76-3.22z"/>
              <path d="M2.375 6.875c.76 0 1.375-.616 1.375-1.375h1a1.375 1.375 0 0 0 2.75 0h1a1.375 1.375 0 0 0 2.75 0h1a1.375 1.375 0 1 0 2.75 0h1a2.375 2.375 0 0 1-4.25 1.458 2.371 2.371 0 0 1-1.875.917A2.37 2.37 0 0 1 8 6.958a2.37 2.37 0 0 1-1.875.917 2.37 2.37 0 0 1-1.875-.917A2.375 2.375 0 0 1 0 5.5h1c0 .76.616 1.375 1.375 1.375z"/>
              <path d="M4.75 5.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0zm3.75 0a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0zm3.75 0a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0z"/>
              <path fill-rule="evenodd" d="M2 7.846V7H1v.437c.291.207.632.35 1 .409zm-1 .737c.311.14.647.232 1 .271V15H1V8.583zm13 .271a3.354 3.354 0 0 0 1-.27V15h-1V8.854zm1-1.417c-.291.207-.632.35-1 .409V7h1v.437zM3 9.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 .5.5V15H7v-5H4v5H3V9.5zm6 0a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-4zm1 .5v3h2v-3h-2z"/>
            </svg>
            <span class="text">Urban Oasis Spa (Bangkok)</span>
          </div>

          <div class="date">
            <svg class="icon" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M14 2H2a1 1 0 0 0-1 1v11a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1zM2 1a2 2 0 0 0-2 2v11a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2H2z"/>
              <path fill-rule="evenodd" d="M14 2H2a1 1 0 0 0-1 1v1h14V3a1 1 0 0 0-1-1zM2 1a2 2 0 0 0-2 2v2h16V3a2 2 0 0 0-2-2H2z"/>
              <path fill-rule="evenodd" d="M3.5 0a.5.5 0 0 1 .5.5V1a.5.5 0 0 1-1 0V.5a.5.5 0 0 1 .5-.5zm9 0a.5.5 0 0 1 .5.5V1a.5.5 0 0 1-1 0V.5a.5.5 0 0 1 .5-.5z"/>
              <rect width="2" height="2" x="11" y="7" rx=".5"/>
            </svg>
            <span class="text">Thursday, August 13, 2020 3:30 PM</span>
          </div>
        </div>

        <div class="second-action">
          <button type="button" class="btn btn-border" @click="addMore">
            <svg class="icon" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M11 14s1 0 1-1-1-4-6-4-6 3-6 4 1 1 1 1h10zm-9.995-.944v-.002.002zM1.022 13h9.956a.274.274 0 0 0 .014-.002l.008-.002c-.001-.246-.154-.986-.832-1.664C9.516 10.68 8.289 10 6 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664a1.05 1.05 0 0 0 .022.004zm9.974.056v-.002.002zM6 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm3-2a3 3 0 1 1-6 0 3 3 0 0 1 6 0zm4.5 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z"/>
              <path fill-rule="evenodd" d="M13 7.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0v-2z"/>
            </svg>
            <span class="text upper">add more guest</span>
          </button>
        </div>

        <div class="second-guests" v-for="(elm, idx) in store" :key="idx">
          <div class="name">
            <input type="text" v-model="currentForm.e[idx].name">
            <svg class="icon" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M5.707 13.707a1 1 0 0 1-.39.242l-3 1a1 1 0 0 1-1.266-1.265l1-3a1 1 0 0 1 .242-.391L10.086 2.5a2 2 0 0 1 2.828 0l.586.586a2 2 0 0 1 0 2.828l-7.793 7.793zM3 11l7.793-7.793a1 1 0 0 1 1.414 0l.586.586a1 1 0 0 1 0 1.414L5 13l-3 1 1-3z"/>
              <path fill-rule="evenodd" d="M9.854 2.56a.5.5 0 0 0-.708 0L5.854 5.855a.5.5 0 0 1-.708-.708L8.44 1.854a1.5 1.5 0 0 1 2.122 0l.293.292a.5.5 0 0 1-.707.708l-.293-.293z"/>
              <path d="M13.293 1.207a1 1 0 0 1 1.414 0l.03.03a1 1 0 0 1 .03 1.383L13.5 4 12 2.5l1.293-1.293z"/>
            </svg>
          </div>

          <div class="items" v-if="hasArray(elm.items)">
            <div class="rows" v-for="item in elm.items" :key="item.id">
              <img class="item-image" src="/static/images/1.jpg" alt>
              <div class="item-info" title="View Details">
                <a class="item-name" v-text="item.name"></a>
                <p class="item-hour" v-text="item.treatmentHours"></p>
              </div>
              <p class="item-price ui-thb" v-text="$price(item.price, 2)"></p>
            </div>
          </div>
          <div class="warn" v-else>This guest does not have any treatment yet</div>

          <div :class="['bottom', { x3: store.length === 1 }]">
            <button type="button"
              title="Manage Treatment"
              class="btn btn-info modify"
              @click="onModify(elm.id)">
              <svg class="icon" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5zM3.14 5l.5 2H5V5H3.14zM6 5v2h2V5H6zm3 0v2h2V5H9zm3 0v2h1.36l.5-2H12zm1.11 3H12v2h.61l.5-2zM11 8H9v2h2V8zM8 8H6v2h2V8zM5 8H3.89l.5 2H5V8zm0 5a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0zm9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0z"/>
              </svg>
              <span class="text upper">{{ hasArray(elm.items) ? 'manage treatment' : 'choose treatment' }}</span>
            </button>

            <button type="button"
              title="Reset Treatment"
              class="btn btn-info reset"
              @click="onReset(elm.id)">
              <span class="text">Reset</span>
            </button>

            <button type="button"
              title="Remove Guest"
              class="btn btn-danger remove"
              @click="onRemove(elm.id)" v-if="store.length > 1">

              <svg class="icon" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
              </svg>

            </button>

            <div class="count ui-thb">{{ $price(elm.summary, 2) }}</div>
          </div>
        </div>
      </div>

      <div class="ui--booking-content-footer">
        <button type="button" class="btn btn-light" @click="prev">
          <svg class="icon" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path d="M5.854 4.646a.5.5 0 0 1 0 .708L3.207 8l2.647 2.646a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 0 1 .708 0z"/>
            <path d="M2.5 8a.5.5 0 0 1 .5-.5h10.5a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
          </svg>
          <span class="text">Back to first</span>
        </button>

        <button type="button" class="btn btn-primary" @click="next">
          <span class="text upper">next</span>
        </button>
      </div>
    </div>
  </template>

  <template id="ui--template-step-third">
    <div class="ui--booking-content third">
      <div class="ui--booking-content-head">
        <h3 class="title">third step title name</h3>
        <h5 class="desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste minima corporis alias nostrum, molestias praesentium deleniti, ad, quaerat quam nihil numquam mollitia? Eum consectetur excepturi quaerat deleniti quisquam necessitatibus fugit.</h5>
      </div>

      <div class="ui--booking-content-container"></div>

      <div class="ui--booking-content-footer">
        <button type="button" class="btn btn-light" @click="prev">
          <svg class="icon" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path d="M5.854 4.646a.5.5 0 0 1 0 .708L3.207 8l2.647 2.646a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 0 1 .708 0z"/>
            <path d="M2.5 8a.5.5 0 0 1 .5-.5h10.5a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
          </svg>
          <span class="text">Back to second</span>
        </button>

        <button type="button" class="btn btn-primary" @click="next">
          <span class="text upper">next</span>
        </button>
      </div>
    </div>
  </template>

  <template id="ui--template-step-fourth">
    <div class="ui--booking-content fourth">
      <div class="ui--booking-content-head">
        <h3 class="title">fourth step title name</h3>
        <h5 class="desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste minima corporis alias nostrum, molestias praesentium deleniti, ad, quaerat quam nihil numquam mollitia? Eum consectetur excepturi quaerat deleniti quisquam necessitatibus fugit.</h5>
      </div>

      <div class="ui--booking-content-container"></div>

      <div class="ui--booking-content-footer"></div>
    </div>
  </template>

  <template id="ui--template-modals-setitem">
    <div class="ui--modals setitem">
      <div class="ui--modals-overlay" @click="onCancel"></div>
      <div :class="['ui--modals-container', { mounted: ready }]">
        <div class="ui--modals-header header">
          <input type="text" v-model="currentValue.name">
        </div>

        <div class="ui--modals-body body">
          <ul>
            <li v-for="item in store" style="margin-bottom: 20px;" @click="add(item.id)">
              {{ JSON.stringify(item) }}
            </li>
          </ul>
        </div>

        <div class="ui--modals-footer footer">
          <button type="button" class="btn btn-default" @click="onCancel">
            <span class="text upper">cancel</span>
          </button>
    
          <button type="button" class="btn btn-primary" @click="onApply">
            <span class="text upper">apply</span>
          </button>
        </div>
      </div>
    </div>
  </template>
  </div>

  <script src="./static/script/vue.js"></script>
  <script src="./static/script/script.js" defer></script>
</body>
</html>