// SETP-2
.second {
  &-branch {
    display: grid;
    grid-column-gap: 30px;
    grid-auto-flow: column;
    justify-content: flex-end;

    .icon {
      height: 18px;
      color: @primary-color;
    }

    .text {
      padding: 0 0 0 5px;
    }
  }

  &-action {
    margin: 10px 0;

    .btn {
      width: 210px;
      height: 35px;
      font-weight: 700;
    }
  }

  &-guests {
    position: relative;
    padding: 20px;
    border-radius: 4px;
    border: solid 1px tint(@primary-color, 75%);

    &:not(:last-child) {
      margin-bottom: 30px;
    }

    .name {
      position: relative;
      margin: -5px 0 20px;

      input {
        display: block;
        width: 100%;
        padding: 10px 0;
        font-size: 22px;
        font-weight: 700;
        border-bottom: solid 1px tint(@primary-color, 75%);
        background-color: transparent;
        transition: all 0.4s ease;

        &:focus {
          padding-left: 10px;
          color: @primary-color;
        }
      }

      .icon {
        position: absolute;
        top: 12px;
        right: 10px;
        height: 25px;
        color: @light-color;
        pointer-events: none;
      }
    }

    .items {
      display: grid;
      grid-row-gap: 8px;
      grid-auto-flow: row;

      .rows {
        display: grid;
        grid-column-gap: 10px;
        grid-template-columns: 50px 3fr 1fr;
        align-items: center;
        padding: 5px 10px 5px 5px;
        border-radius: 10px;
        background-color: tint(@primary-color, 92%);
      }

      .item {
        &-image {
          display: block;
          width: 40px;
          height: 40px;
          border-radius: 10px;
        }

        &-info {
          cursor: pointer;

          &:hover {
            [class$="-name"] {
              text-decoration: underline;
            }
          }
        }

        &-name {
          font-weight: @font-weight-bold;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
          display: block;
        }

        &-hour {
          color: @gray-color;
          line-height: 1;
          font-weight: lighter;
          font-size: @font-size-smaller;

          &::after {
            content: "Hours";
            padding-left: 4px;
          }
        }

        &-price {
          text-align: right;
        }
      }
    }

    .warn {
      text-align: center;
      line-height: 2;
      color: @light-color;
    }

    .bottom {
      display: grid;
      grid-auto-flow: column;
      grid-column-gap: 10px;
      grid-template-columns: 220px 55px 38px auto;
      margin: 20px 0 0;

      &.x3 {
        grid-template-columns: 220px 55px auto;
      }

      .btn {
        justify-self: flex-start;
        height: 35px;

        &.modify {
          width: 100%;
        }

        &.reset,
        &.remove {
          padding: 0;
          width: 100%;
          min-width: auto;

          .icon {
            padding: 0;
            height: 18px;
          }
        }
      }

      .count {
        justify-self: flex-end;
        align-self: flex-end;

        font-size: @font-size-large;
        font-weight: @font-weight-bold;
      }
    }
  }
}

.ui--modals.setitem {
  [class*="-container"] {
    overflow: auto;
    height: 100%;
    width: 50vw;
    margin: 0 0 0 auto;

    @media @mobile-screen {
      width: 100%;
      margin: 0;
    }
  }

  .header {
    input {
      font-size: 22px;
      font-weight: 700;
    }
  }

  .body {
    padding: 20px;
    border-radius: 4px;
    background-color: @base-color;
  }

  .footer {
    text-align: center;

    .btn {
      width: 35%;
      height: 40px;
      margin-left: 10px;
    }
  }
}