.btn {
  cursor: pointer;
  padding: 0 15px;

  min-width: 100px;
  min-height: 30px;

  outline: unset;
  border: unset;
  border-radius: 2px;
  background-color: transparent;

  transition: all 0.12s ease;

  .icon {
    width: 28px;
    padding: 0 10px 0 0;
    vertical-align: middle;
  }

  .text {
    vertical-align: middle;

    &.upper { text-transform: uppercase }
    &.lower { text-transform: lowercase }
  }

  &:active {
    opacity: 0.9;
  }

  &-default {
    color: @gray-color;
    background-color: tint(@light-color, 75%);
  }

  &-primary {
    color: @base-color;
    background-color: @shsak-gray;
  }

  &-light {
    color: @gray-color;

    &:hover {
      .text {
        text-decoration: underline;
      }
    }
  }

  &-border {
    color: @gray-color;
    background-color: @base-color;
    border: solid 1px tint(@primary-color, 75%);

    &:hover {
      color: @base-color;
      border-color: @shsak-gray;
      background-color: @shsak-gray;
    }
  }

  &-info {
    color: @primary-color;
    background-color: tint(@primary-color, 88%);

    &:hover {
      color: @text-color;
      background-color: @primary-color;
    }
  }

  &-danger {
    color: @error-color;
    background-color: tint(@error-color, 86%);

    &:hover {
      color: @text-color;
      background-color: @error-color;
    }
  }
}